<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body {
                display: flex;
                flex-flow: row nowrap;
            }

            img {
                height: 30px;
                width: 30px;
            }

            .members div {
                display: flex;
                flex-flow: row nowrap;
            }
            </style>
    </head>
    <body>
        <div class="members">
        </div>
        <div class="main-field">
            <div class="chat-field">
            </div>
            <form id="chat-form">
                <p><input type="text" name="text" id="form-text"></p>
                <p><input type="submit" value="Send">
                    <input type="reset" value="Reset"></p>
            </form>
        </div>
        <div class="chat-info">
            <h2 class="chat-name">chat name</h2>
            <h3 class="chat-desc">chat description</h3>
            <h4 class="chat-admin">admin: admin</h4>
        </div>
        <div class="auth-user-info">
        </div>
        <script>
            const token = localStorage.getItem('token');
            const unauthURL = 'http://127.0.0.1:8000/login';
            const unauthRedir = `<meta http-equiv='refresh' content='0; URL=${unauthURL}'>`;
            if (!token) {
                document.querySelector('head').insertAdjacentHTML('beforeend', unauthRedir);
            };
            const chatName = document.querySelector('.chat-name');
            const chatDesc = document.querySelector('.chat-desc');
            const chatAdmin = document.querySelector('.chat-admin');
            const members = document.querySelector('.members');
            const field = document.querySelector('.chat-field');
            const logged = document.querySelector('.auth-user-info');
            const url = window.location.href;
            const path = 'account/chat/';
            const index = url.slice((url.lastIndexOf(path))+path.length);
            const chatURL = `http://127.0.0.1:8000/api/v1/chatroom/${index}`;
            const profileURL = 'http://127.0.0.1:8000/api/v1/auth/users/me/';
            const options = {
                method: 'GET',
                headers: {
                    'Authorization': `Token ${token}`,
                },
            };


            async function getData() {
                let response = fetch(chatURL);
                let result = await response.then(res => res.json());
                let authResponse = fetch(profileURL, options);
                let authUser = await authResponse.then(res => res.json());
                let newMsgURL = `http://127.0.0.1:8000/api/v1/chatroom/new_msg/${result.chat.id}`;
                if (result.chat.private) {
                    chatAdmin.remove();
                    chatDesc.remove();
                } else {
                    chatAdmin.innerHTML = 'Admin: ' + result.admin.username;
                    chatName.innerHTML = result.chat.name;
                    chatDesc.innerHTML = result.chat.description;
                };


                for (let user of result.users) {
                    let newElem = document.createElement('div');
                    newElem.id = 'user' + user.id;
                    let username = `<p id="username${user.id}">${user.username}</p>`;
                    let picture;
                    if (user.picture) {
                        picture = `<p><img src="${user.picture}" alt=${user.username}></p>`;
                    } else {
                        let url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                        picture = `<p><img src="${url}" alt=${user.username}></p>`;
                    };
                    newElem.innerHTML = picture + username;
                    if (result.chat.private) {
                        if (user.username === authUser.username) {
                            newElem.style.display = 'none';
                        } else {
                            chatName.innerHTML = `Your dialogue with ${user.username}`;
                        };
                    };
                    members.insertAdjacentElement('beforeend', newElem);
                };


                for (let msg of result.messages) {
                    let newElem = document.createElement('div');
                    newElem.id = 'msg' + msg.id;
                    let content = `<p>${msg.content}</p>`;
                    let added = `<p>${msg.added}</p>`;
                    let authorName = document.getElementById(`username${msg.author}`);
                    if (authorName){
                        authorName = `<p>${authorName.textContent}</p>`;
                    } else {
                        authorName = '<p>Ex-member</p>';
                    };
                    newElem.innerHTML = authorName + content + added;
                    field.insertAdjacentElement('beforeend', newElem)
                };


                let name = `<p id="auth-name">${authUser.username}</p>`;
                let picture = authUser.picture;
                if (picture) {
                        picture = `<p><img src="${authUser.picture}" alt=${authUser.username}></p>`;
                    } else {
                        let url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                        picture = `<p><img src="${url}" alt=${authUser.username}></p>`;
                    };
                logged.insertAdjacentHTML('afterbegin', picture);
                logged.insertAdjacentHTML('afterbegin', name);


                const ws = new WebSocket('ws://127.0.0.1:5000');
                ws.onopen = () => {
                    ws.send(JSON.stringify({notification:{
                        user: authUser.username,
                        status: 'joined',
                    }}));
                };
                ws.onmessage = (message) => {
                    let msg = JSON.parse(message.data);
                    if (msg.notification) {
                        let {name, status} = msg.notification;
                        let newElem = document.createElement('div');
                        newElem.className = 'chat-notification';
                        newElem.innerHTML = `User ${name} ${status} the chat`;
                        field.insertAdjacentElement('beforeend', newElem);
                    } else {
                        let {name, text} = msg.content;
                        let date = new Date();
                        let monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug',
                        'Sept', 'Oct', 'Now', 'Dec'];
                        let day = String(date.getDate()).length > 1 ? date.getDate() : `0${date.getDate()}`;
                        let month = monthNames[date.getMonth()];
                        let year = String(date.getFullYear()).slice(2);
                        let hour = String(date.getHours()).length > 1 ? date.getHours() : `0${date.getHours()}`;
                        let min = date.getMinutes();
                        let dateStr = `${day} ${month} ${year}, ${hour}:${min}`;
                        let newElem = document.createElement('div');
                        newElem.className = 'chat-msg';
                        let author = `<p>${name}</p>`;
                        let content = `<p>${text}</p>`;
                        let added = `<p>${dateStr}</p>`;
                        newElem.innerHTML = author + content + added;
                        field.insertAdjacentElement('beforeend', newElem);
                    };
                };
                function send (event) {
                    event.preventDefault();
                    let text = document.getElementById('form-text').value;
                    fetch(newMsgURL, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            user: authUser.username,
                            text: text,
                        })
                    }).then(res => {
                        if (res.status !== 201) {
                            let field = document.querySelector('.main-field');
                            let error = document.createElement('h4');
                            error.id = 'msg-error-str';
                            error.innerHTML = 'Internal server error, please try again later';
                        } else {
                            document.getElementById('form-text').value = '';
                        };
                    });
                    ws.send(JSON.stringify({content:{
                        user: authUser.username,
                        text: text,
                    }}));
                };
                let form = document.getElementById('chat-form');
                form.addEventListener('submit', send);
            };
            getData();
        </script>
    </body>
</html>