<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>profile page</title>
    <style>
        body {
            display: flex;
            flex-flow: row nowrap;
        }

        img {
            height: 30px;
            width: 30px;
        }

        .users div {
            display: flex;
            flex-flow: row nowrap;
        }
    </style>
</head>
<body>
    <div class="users">
    </div>
    <div class="profile">
        <div class="personal">
        </div>
        <div class="user-chats">
        </div>
    </div>
    <div class="chat-list">
        <button id="new-chat-btn">Create New Chat</button>
    </div>
    <script>
        const token = localStorage.getItem('token');
        const unauthURL = 'http://127.0.0.1:8000/login';
        const unauthRedir = `<meta http-equiv='refresh' content='0; URL=${unauthURL}'>`;
        if (!token) {
            document.querySelector('head').insertAdjacentHTML('beforeend', unauthRedir);
        };
        const usersBlock = document.querySelector('.users');
        const profileBlock = document.querySelector('.profile');
        const allChatsBlock = document.querySelector('.chat-list');
        const personalBlock = document.querySelector('.personal');
        const userChatsBlock = document.querySelector('.user-chats');
        const newChatBtn = document.getElementById('new-chat-btn');
        const newChatURL = 'http://127.0.0.1:8000/api/v1/chatroom/new/';
        const usersURL = 'http://127.0.0.1:8000/api/v1/user/';
        const allChatsURL = 'http://127.0.0.1:8000/api/v1/chat/';
        const profileURL = 'http://127.0.0.1:8000/api/v1/auth/users/me/';
        const options = {
            method: 'GET',
            headers: {
                'Authorization': `Token ${token}`,
            },
        };
        function newChat() {
            newChatBtn.style.display = 'none';
            let inputBlock = document.createElement('form');
            let nameStr = '<p>Chat name</p>';
            let name = '<p><input type="text" id="new-chat-name"></p>';
            let descStr = '<p>Chat description</p>';
            let desc = '<p><input type="text" id="new-chat-desc"></p>';
            let btns = '<p><input type="submit" value="Submit"><input type="reset" value="Reset"></p>';
            inputBlock.id = 'new-chat-form';
            inputBlock.innerHTML = nameStr + name + descStr + desc + btns;
            allChatsBlock.insertAdjacentElement('afterbegin', inputBlock);
            inputBlock.addEventListener('submit', makeNewChat);
        };
        function makeNewChat() {
            event.preventDefault();
            let errorStr = document.getElementById('error-str');
            if (!errorStr) {
                errorStr = document.createElement('h4');
                errorStr.id = 'error-str';
                allChatsBlock.insertAdjacentElement('afterbegin', errorStr);
            };
            let name = document.getElementById('new-chat-name').value;
            let desc = document.getElementById('new-chat-desc').value;
            let admin = document.getElementById('prof-name').textContent;
            let params = {
                name: name,
                desc: desc,
                admin: admin,
            };
            let options = {
                method: 'POST',
                headers: {
                    'Authorization': `Token ${token}`,
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body: JSON.stringify(params),
            };
            if (!name || !desc) {
                errorStr.innerHTML = 'All fields are required';
            } else if ((name.length < 4) || (desc.length < 8)) {
                errorStr.innerHTML = 'Name must be at least 4 symbols long, description must be at least 8 symbols long';
            } else if (name === desc) {
                errorStr.innerHTML = 'Name and description must differ';
            } else {
                fetch(newChatURL, options).then(res => {
                    if (res.status === 201) {
                        return res.json();
                    } else {
                        errorStr.innerHTML = 'Internal server error please try again later';
                    };
                }).then(result => {
                    let newChatURL = `http://127.0.0.1:8000/api/v1/chat/${result.id}`;
                    let redir = `<meta http-equiv='refresh' content='0; URL=${newChatURL}'>`;
                    document.querySelector('head').insertAdjacentHTML('beforeend', redir);
                }).catch(error => console.log(error.message));
            };
        };
        fetch(usersURL).then(res => res.json()).then(result => {
            for (let user of result) {
                let newElem = document.createElement('div');
                newElem.id = 'user' + user.id;
                let username = `<p>${user.username}<p>`;
                let button = `<button class="btn-user-${user.id}">Start chatting</button>`;
                let picture;
                if (user.picture) {
                    picture = `<p><img src="${user.picture}" alt="${user.username}"</p>`;
                } else {
                    url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                    picture = `<p><img src="${url}" alt="${user.username}"</p>`;
                };
                newElem.innerHTML = picture + username + button;
                usersBlock.insertAdjacentElement('beforeend', newElem);
            };
        }).catch(error => console.log(error.message));
        fetch(allChatsURL).then(res => res.json()).then(result => {
            for (let chat of result) {
                let newElem = document.createElement('div');
                newElem.id = 'chat' + chat.id;
                let chatName = `<p>${chat.name}<p>`;
                let button = `<button class="btn-chat-${chat.id}">Join chat</button>`;
                let activity = `<p>${chat.last_activity}<p>`;
                newElem.innerHTML = chatName + activity + button;
                allChatsBlock.insertAdjacentElement('beforeend', newElem);
            };
        }).catch(error => console.log(error.message));
        fetch(profileURL, options).then(res => res.json()).then(result => {
            let newElem = document.createElement('div');
            newElem.id = 'profile' + result.id;
            let username = `<p id="prof-name">${result.username}<p>`;
            let button = `<button class="btn-edit-${result.id}">Edit profile</button>`;
            let picture;
            if (result.picture) {
                picture = `<p><img src="${result.picture}" alt="${result.username}"</p>`;
            } else {
                let url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                picture = `<p><img src="${url}" alt="${result.username}"</p>`;
            };
            newElem.innerHTML = picture + username + button;
            personalBlock.insertAdjacentElement('beforeend', newElem);
            let userNoteToHide = document.querySelector(`#user${result.id}`);
            if (userNoteToHide){
                userNoteToHide.style.display = 'none';
            };
            const userChatsURL = `http://127.0.0.1:8000/api/v1/user_chats/${result.id}`;
            fetch(userChatsURL).then(res => res.json()).then(result => {
                for (let chat of result.chats) {
                    let newElem = document.createElement('div');
                    newElem.id = 'profile-chat' + chat.id;
                    let chatName = `<p>${chat.name}<p>`;
                    let button = `<button class="btn-pers-chat-${chat.id}">Continue chatting</button>`;
                    let activity = `<p>${chat.last_activity}<p>`;
                    newElem.innerHTML = chatName + activity + button;
                    userChatsBlock.insertAdjacentElement('beforeend', newElem);
                    let chatNoteToHide = document.querySelector(`#chat${chat.id}`);
                    if (chatNoteToHide){
                        chatNoteToHide.style.display = 'none';
                    };
                };
            }).catch(error => console.log(error.message));
        }).catch(error => console.log(error.message));
        newChatBtn.addEventListener('click', newChat);
    </script>
</body>
</html>