<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>profile page</title>
    <link rel="icon" href="https://i.ibb.co/93N0fyc/favicon-32x32.png" type="image/x-icon">
    <style>
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-content: stretch;
        }

        .header {
            background-color: #A60400;
            margin: 0;
            height: 20vh;
        }

        .footer {
            background-color: #A60400;
            margin: 0;
            height: 10vh;
        }

        .root {
            min-height: 70vh;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            align-content: center;
            justify-content: space-evenly;
        }

        #logo {
            height: 15vh;
            width: 20vh;
            margin-top: 2.5vh;
            margin-left: 5vw;
        }

        img {
            height: 30px;
            width: 30px;
        }

        .users div {
            display: flex;
            flex-flow: row nowrap;
            border: 1px solid black;
            border-radius: 15%;
        }

        .user-chats div {
            border: 1px solid black;
            border-radius: 15%;
        }

        .chat-list div {
            border: 1px solid black;
            border-radius: 15%;
        }

        .personal {
            font-size: 24px;
        }

        .personal img {
            height: 60px;
            width: 60px;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://i.ibb.co/KKbb1GP/OWLANCHE-free-file.png" alt="logo" id="logo">
    </div>
    <div class="root">
        <div class="users">
        </div>
        <div class="profile">
            <div class="personal">
            </div>
            <div class="user-chats">
            </div>
        </div>
        <div class="chat-list">
            <button id="new-chat-btn">Create New Chat</button>
        </div>
    </div>
    <div class="footer"></div>
    <script>
        const token = localStorage.getItem('token');
        const unauthURL = 'http://127.0.0.1:8000/login';
        const unauthRedir = `<meta http-equiv='refresh' content='0; URL=${unauthURL}'>`;
        if (!token) {
            document.querySelector('head').insertAdjacentHTML('beforeend', unauthRedir);
        };
        const usersBlock = document.querySelector('.users');
        const profileBlock = document.querySelector('.profile');
        const allChatsBlock = document.querySelector('.chat-list');
        const personalBlock = document.querySelector('.personal');
        const userChatsBlock = document.querySelector('.user-chats');
        const newChatBtn = document.getElementById('new-chat-btn');
        const newChatURL = 'http://127.0.0.1:8000/api/v1/chatroom/new/';
        const usersURL = 'http://127.0.0.1:8000/api/v1/user/';
        const allChatsURL = 'http://127.0.0.1:8000/api/v1/chat/';
        const profileURL = 'http://127.0.0.1:8000/api/v1/auth/users/me/';
        const options = {
            method: 'GET',
            headers: {
                'Authorization': `Token ${token}`,
            },
        };


        function newChat() {
            newChatBtn.style.display = 'none';
            let inputBlock = document.createElement('form');
            let nameStr = '<p>Chat name</p>';
            let name = '<p><input type="text" id="new-chat-name"></p>';
            let descStr = '<p>Chat description</p>';
            let desc = '<p><input type="text" id="new-chat-desc"></p>';
            let btns = '<p><input type="submit" value="Submit"><input type="reset" value="Reset"></p>';
            inputBlock.id = 'new-chat-form';
            inputBlock.innerHTML = nameStr + name + descStr + desc + btns;
            allChatsBlock.insertAdjacentElement('afterbegin', inputBlock);
            inputBlock.addEventListener('submit', makeNewChat);
        };


        function makeNewChat() {
            event.preventDefault();
            let errorStr = document.getElementById('error-str');
            if (!errorStr) {
                errorStr = document.createElement('h4');
                errorStr.id = 'error-str';
                allChatsBlock.insertAdjacentElement('afterbegin', errorStr);
            };
            let name = document.getElementById('new-chat-name').value;
            let desc = document.getElementById('new-chat-desc').value;
            let admin = document.getElementById('prof-name').textContent;
            let params = {
                name: name,
                desc: desc,
                admin: admin,
            };
            let options = {
                method: 'POST',
                headers: {
                    'Authorization': `Token ${token}`,
                    'Content-Type': 'application/json;charset=utf-8',
                },
                body: JSON.stringify(params),
            };
            if (!name || !desc) {
                errorStr.innerHTML = 'All fields are required';
            } else if ((name.length < 4) || (desc.length < 8)) {
                errorStr.innerHTML = 'Name must be at least 4 symbols long, description must be at least 8 symbols long';
            } else if (name === desc) {
                errorStr.innerHTML = 'Name and description must differ';
            } else {
                fetch(newChatURL, options).then(res => {
                    if (res.status === 201) {
                        return res.json();
                    } else {
                        errorStr.innerHTML = 'Internal server error please try again later';
                    };
                }).then(result => {
                    let newChatURL = `http://127.0.0.1:8000/account/chat/${result.id}`;
                    let redir = `<meta http-equiv='refresh' content='0; URL=${newChatURL}'>`;
                    document.querySelector('head').insertAdjacentHTML('beforeend', redir);
                }).catch(error => console.log(error.message));
            };
        };


        function startPrivateChat () {
            let profName = document.getElementById('prof-name').className;
            let companion = event.target.className;
            let mainMatch = document.getElementById(`priv-chat-${profName}to${companion}`);
            let reverseMatch = document.getElementById(`priv-chat-${companion}to${profName}`);
            if (mainMatch) {
                let index = mainMatch.querySelector('.priv-id').textContent;
                let link = `http://127.0.0.1:8000/account/chat/${index}`;
                let redir = `<meta http-equiv='refresh' content='0; URL=${link}'>`;
                document.querySelector('head').insertAdjacentHTML('beforeend', redir);
            } else if (reverseMatch) {
                let index = reverseMatch.querySelector('.priv-id').textContent;
                let link = `http://127.0.0.1:8000/account/chat/${index}`;
                let redir = `<meta http-equiv='refresh' content='0; URL=${link}'>`;
                document.querySelector('head').insertAdjacentHTML('beforeend', redir);
            } else {
                let params = {
                    init: profName,
                    companion: companion,
                };
                let options = {
                    method: 'POST',
                    headers: {
                        'Authorization': `Token ${token}`,
                        'Content-Type': 'application/json;charset=utf-8',
                    },
                    body: JSON.stringify(params),
                };
                let privChatURL = 'http://127.0.0.1:8000/api/v1/chatroom/new_private/';
                fetch(privChatURL, options).then(res => {
                    if (res.status === 201) {
                        return res.json();
                    } else {
                        let error = document.getElementById('priv-error-str');
                        if (error) {
                            error.innerHTML = 'Internal server error, please try again later';
                        } else {
                            error = document.createElement('h4');
                            error.innerHTML = 'Internal server error, please try again later';
                            usersBlock.insertAdjacentElement('afterbegin', error);
                        };
                    };
                }).then(result => {
                    let newChatURL = `http://127.0.0.1:8000/account/chat/${result.id}`;
                    let redir = `<meta http-equiv='refresh' content='0; URL=${newChatURL}'>`;
                    document.querySelector('head').insertAdjacentHTML('beforeend', redir);
                }).catch(error => console.log(error.message));
            };
        };


        fetch(usersURL).then(res => res.json()).then(result => {
            for (let user of result) {
                let newElem = document.createElement('div');
                newElem.id = 'user' + user.id;
                let username = `<p>${user.username}<p>`;
                let button = `<button class="${user.id}">Start chatting</button>`;
                let picture;
                if (user.picture) {
                    picture = `<p><img src="${user.picture}" alt="${user.username}"</p>`;
                } else {
                    url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                    picture = `<p><img src="${url}" alt="${user.username}"</p>`;
                };
                newElem.innerHTML = picture + username + button;
                if (document.getElementById(`profile${user.id}`)) {
                    newElem.style.display = 'none';
                };
                usersBlock.insertAdjacentElement('beforeend', newElem);
                newElem.querySelector('button').addEventListener('click', startPrivateChat);
            };
        }).catch(error => console.log(error.message));


        fetch(allChatsURL).then(res => res.json()).then(result => {
            for (let chat of result) {
                let newElem = document.createElement('div');
                let chatName;
                if (chat.private) {
                    newElem.style.display = 'none';
                    newElem.id = 'priv-chat-' + chat.name;
                    chatName = `<p class="priv-id">${chat.id}<p>`;
                } else {
                    newElem.id = 'chat' + chat.id;
                    chatName = `<p>${chat.name}<p>`;
                };
                let button = `<button class="btn-chat-${chat.id}">Join chat</button>`;
                let activity = `<p>${chat.last_activity}<p>`;
                newElem.innerHTML = chatName + activity + button;
                allChatsBlock.insertAdjacentElement('beforeend', newElem);
                newElem.querySelector('button').addEventListener('click', () => {
                    let newUserAddURL = `http://127.0.0.1:8000/api/v1/chatroom/new_user/${chat.id}`;
                    let params = {
                        username: document.getElementById('prof-name').textContent,
                    };
                    let options = {
                        method: 'PATCH',
                        headers: {
                            'Authorization': `Token ${token}`,
                            'Content-Type': 'application/json;charset=utf-8',
                        },
                        body: JSON.stringify(params),
                    };
                    fetch(newUserAddURL, options).then(res => {
                        if (res.status === 204) {
                            let link = `http://127.0.0.1:8000/account/chat/${chat.id}`;
                            let redir = `<meta http-equiv='refresh' content='0; URL=${link}'>`;
                            document.querySelector('head').insertAdjacentHTML('beforeend', redir);
                        } else {
                            let errorStr = document.getElementById('error-str');
                            if (!errorStr) {
                                errorStr = document.createElement('h4');
                                errorStr.id = 'error-str';
                                allChatsBlock.insertAdjacentElement('afterbegin', errorStr);
                            };
                            errorStr.innerHTML = "Can't add user to chat, try again later";
                        };
                    }).catch(error => console.log(error.message));
                });
            };
        }).catch(error => console.log(error.message));


        fetch(profileURL, options).then(res => res.json()).then(result => {
            let newElem = document.createElement('div');
            newElem.id = 'profile' + result.id;
            let username = `<p id="prof-name" class="${result.id}">${result.username}<p>`;
            let button = `<button class="btn-edit-prof">Edit profile</button>`;
            let adder = `<div id='pic-adder-form'>
            <p><input type="text" id="change-name-field"></p>
            <p><button id='name-changer'>Change username</button></p>
            <p><input type="file" accept="image/*" id='pic-upload-field'></p>
            <p><button id='pic-uploader'>Change picture</button></p></div>`;
            let picture;
            if (result.picture) {
                picture = `<p id="prof-img-container"><img src="${result.picture}" alt="${result.username}"></p>`;
            } else {
                let url = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg';
                picture = `<p id="prof-img-container"><img src="${url}" alt="${result.username}"></p>`;
            };
            newElem.innerHTML = picture + username + button + adder;
            personalBlock.insertAdjacentElement('beforeend', newElem);
            let actualName = document.getElementById('prof-name').textContent;
            let userNoteToHide = document.querySelector(`#user${result.id}`);
            if (userNoteToHide){
                userNoteToHide.style.display = 'none';
            };
            let picBtn = newElem.querySelector('.btn-edit-prof');
            let adderBlock = document.getElementById('pic-adder-form');
            adderBlock.style.display = 'none';
            picBtn.addEventListener('click', () => {
                picBtn.style.display = 'none';
                adderBlock.style.display = 'initial';
                document.getElementById('change-name-field').value = actualName;
            });
            document.getElementById('name-changer').addEventListener('click', () => {
                let name = document.getElementById('change-name-field').value;
                let template = /^\D[a-zA-z\d]+$/g;
                if ((name === '') || (name === actualName)) {
                    picBtn.style.display = 'initial';
                    adderBlock.style.display = 'none';
                    if (document.getElementById('pic-upload-error')) {
                        document.getElementById('pic-upload-error').textContent = '';
                    };
                } else if (name.length < 4) {
                    if (!document.getElementById('pic-upload-error')) {
                        let error = document.createElement('h4');
                        error.id = 'pic-upload-error';
                        error.innerHTML = 'Useranme should be at least 4 symbols long';
                        newElem.insertAdjacentElement('afterbegin', error);
                    } else {
                        let error = document.getElementById('pic-upload-error');
                        error.innerHTML = 'Useranme should be at least 4 symbols long';
                    };
                } else if (!template.test(name)) {
                    if (!document.getElementById('pic-upload-error')) {
                        let error = document.createElement('h4');
                        error.id = 'pic-upload-error';
                        error.innerHTML = 'Username should consist of letters/digits and start with a letter';
                        newElem.insertAdjacentElement('afterbegin', error);
                    } else {
                        let error = document.getElementById('pic-upload-error');
                        error.innerHTML = 'Username should consist of letters/digits and start with a letter';
                    };
                } else {
                    let url = `http://127.0.0.1:8000/api/v1/profile_name/${result.id}`;
                    let params = {name: name};
                    let options = {
                        method: 'POST',
                        headers: {
                            'Authorization': `Token ${token}`,
                            'Content-Type': 'application/json;charset=utf-8',
                        },
                        body: JSON.stringify(params),
                    };
                    fetch(url, options).then(res => {
                        if (res.status === 200){
                            picBtn.style.display = 'initial';
                            adderBlock.style.display = 'none';
                            return res.json();
                        } else if (res.status === 400) {
                            if (!document.getElementById('pic-upload-error')) {
                                let error = document.createElement('h4');
                                error.id = 'pic-upload-error';
                                error.innerHTML = 'This username is already taken';
                                newElem.insertAdjacentElement('afterbegin', error);
                            } else {
                                let error = document.getElementById('pic-upload-error');
                                error.innerHTML = 'This username is already taken';
                            };
                        } else {
                            if (!document.getElementById('pic-upload-error')) {
                                let error = document.createElement('h4');
                                error.id = 'pic-upload-error';
                                error.innerHTML = 'Internal server error, please try again later';
                                newElem.insertAdjacentElement('afterbegin', error);
                            } else {
                                let error = document.getElementById('pic-upload-error');
                                error.innerHTML = 'Internal server error, please try again later';
                            };
                        };
                    }).then(result => {
                        document.getElementById('prof-name').textContent = result.username;
                        document.getElementById('change-name-field').value = '';
                        if (document.getElementById('pic-upload-error')) {
                            document.getElementById('pic-upload-error').textContent = '';
                        };
                    }).catch(error => console.log(error.message));
                };
            });
            document.getElementById('pic-uploader').addEventListener('click', () => {
                let file = document.getElementById('pic-upload-field').files[0];
                if (file) {
                    let formData = new FormData();
                    formData.append('file', file);
                    let options = {
                        method: 'POST',
                        body: formData,
                    };
                    let URL = `http://127.0.0.1:8000/api/v1/profile_picture/${result.id}`;
                    fetch(URL, options).then(res => {
                        if (res.status === 200){
                            picBtn.style.display = 'initial';
                            adderBlock.style.display = 'none';
                            return res.json();
                        } else {
                            if (!document.getElementById('pic-upload-error')) {
                                let error = document.createElement('h4');
                                error.id = 'pic-upload-error';
                                error.innerHTML = 'Internal server error, please try again later';
                                newElem.insertAdjacentElement('afterbegin', error);
                            } else {
                                let error = document.getElementById('pic-upload-error');
                                error.innerHTML = 'Internal server error, please try again later';
                            };
                        };
                    }).then(result => {
                        let container = document.getElementById('prof-img-container');
                        let username = document.getElementById('prof-name');
                        container.innerHTML = `<img src="${result.img}" alt="${username}">`;
                        if (document.getElementById('pic-upload-error')) {
                            document.getElementById('pic-upload-error').textContent = '';
                        };
                    }).catch(error => console.log(error.message));
                } else {
                    if (!document.getElementById('pic-upload-error')) {
                        let error = document.createElement('h4');
                        error.id = 'pic-upload-error';
                        error.innerHTML = 'Upload file to change your profile picture';
                        newElem.insertAdjacentElement('afterbegin', error);
                    } else {
                        let error = document.getElementById('pic-upload-error');
                        error.innerHTML = 'Upload file to change your profile picture';
                    };
                };
            });
            const userChatsURL = `http://127.0.0.1:8000/api/v1/user_chats/${result.id}`;
            fetch(userChatsURL).then(res => res.json()).then(result => {
                for (let chat of result.chats) {
                    if (!chat.private) {
                        let newElem = document.createElement('div');
                        newElem.id = 'profile-chat' + chat.id;
                        let chatName = `<p>${chat.name}<p>`;
                        let button = `<button class="btn-pers-chat-${chat.id}">Continue chatting</button>`;
                        let activity = `<p>${chat.last_activity}<p>`;
                        newElem.innerHTML = chatName + activity + button;
                        userChatsBlock.insertAdjacentElement('beforeend', newElem);
                        let chatNoteToHide = document.querySelector(`#chat${chat.id}`);
                        if (chatNoteToHide){
                            chatNoteToHide.style.display = 'none';
                        };
                        newElem.querySelector('button').addEventListener('click', () => {
                            let link = `http://127.0.0.1:8000/account/chat/${chat.id}`;
                            let redir = `<meta http-equiv='refresh' content='0; URL=${link}'>`
                            document.querySelector('head').insertAdjacentHTML('beforeend', redir);
                        });
                    };
                };
            }).catch(error => console.log(error.message));
        }).catch(error => console.log(error.message));
        newChatBtn.addEventListener('click', newChat);
    </script>
</body>
</html>