<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>async</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="root">

        </div>
        <script>
            let data;
            async function getData(){
                let a = fetch('http://127.0.0.1:8000/api/v1/chatroom/1');
                let res = await a
                .then(resp => resp.json());
                console.log(res);
                return res;
            };
            async function getThis(){
                let b = await getData();
                console.log(b);
                return b;
            };
            getThis().then(dataThis => console.log(dataThis));
            console.log(data);
        </script>
    </body>
</html>